body
{
	background-image: url(background-image7.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

header
{
	background-color: white;
	margin: 30px;
	padding-bottom: 15px;
	background-color: white;
	border-radius: 25px;
	font-family: fantasy;
	border: 3px grey solid;

}

#debut
{
	background-color: white;
	background-color: white;
	margin-top: 50px;
	margin: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-family: monospace;
	background-color: white;
	border-radius: 25px;
	border: 3px grey solid;

}

#maîtrise
{
	background-color: white;
	background-color: white;
	margin-top: 50px;
	margin: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-family: monospace;
	background-color: white;
	border-radius: 25px;
	border: 3px grey solid;

}

#modalités

{
	background-color: white;
	background-color: white;
	margin-top: 50px;
	margin: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-family: monospace;
	background-color: white;
	border-radius: 25px;
	border: 3px grey solid;

}


p
{
	text-align: center;
}

ul
{
	text-align: center;
	list-style: none;
}

h1
{
	font-size: 60px;
	font-family: fantasy;
	padding-top: 10px;
}

#fin
{
	text-align: left;
	margin-left: 60px;
}



